<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Full Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark Otto</td>
      <td>mark.ottorman@gmail.com</td>
      <td>
        <a href='#'>
          <i class="bi bi-x-square-fill btn remove-contact p-0 m-0"></i>
        </a>
      </td>
    </tr>
    <tr>
      <td>Jacob Thornton</td>
      <td>thornton@gmail.com</td>
      <td>
        <a href='#'>
          <i class="bi bi-x-square-fill btn remove-contact p-0 m-0"></i>
        </a>
      </td>
    </tr>
    <tr>
      <td>Larry Bird</td>
      <td>arry@gmail.com</td>
      <td>
        <a href='#'>
          <i class="bi bi-x-square-fill btn remove-contact p-0 m-0"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>