<form action="/clients/create" method="POST">
  <div class="form-floating mb-3">
    <input type="text" name='name' class="form-control" id="client-name-form" placeholder="Enter client name">
    <label id="client-name-form-label" for="client-name-form">Enter client name</label>
  </div>

  <!-- Hidden code input -->
  <input id='client-code-form' type="text" value='' name="code" hidden>

  <div class="row g-3" style='margin-bottom: 13px;'>
    <div class="col">
      <select class="form-select select-contacts" aria-label="Default select example">
        <!-- Dynamically populated -->
      </select>
    </div>
    <div class="col-auto">
      <button onclick='selectContact()' type="button" class="btn add-contact">Add</button>
    </div>
  </div>

  <div class='added-contacts'>
    <!-- Dynamically populated -->
  </div>

  <button onclick='submitNewClient(event)' type="button" class="btn btn-lg submit-add-client">Add Client</button>
  <button type="submit" id="submit-add-client" class="btn btn-lg submit-add-client" hidden></button>
</form>