<form action="/clients/create" method="POST">
  <div class="form-floating mb-3">
    <input type="text" name='name' class="form-control" id="client-name-form" placeholder="Enter client name">
    <label id="client-name-form-label" for="client-name-form">Enter client name</label>
  </div>

  <input id='client-code-form' type="text" value='' name="code" hidden>

  <div class="row g-3" style='margin-bottom: 13px;'>
    <div class="col">
      <select class="form-select" aria-label="Default select example">
        <option selected>Select contacts</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn add-contact">Add</button>
    </div>
  </div>

  <div class='added-contacts'>
    <div id='5e417363316cab53182888d8' class='card added-contact'>
      <div class="d-flex justify-content-between">
        <small class='added-contact-item'>
          <span style='padding-right: 10px;'>Mark Otto</span>
          <span>mark.ottorman@gmail.com</span>
        </small>
        <small class='added-contact-item'>
          <i class="bi bi-x-square-fill btn remove-contact p-0 m-0"></i>
        </small>
      </div>
      <input type="text" value='5e417363316cab53182888d8' name="contacts[]" hidden>
    </div>

    <hr style='color: transparent;'>

    <div id='5e417363316cab53182888da' class='card added-contact'>
      <div class="d-flex justify-content-between">
        <small class='added-contact-item'>
          <span style='padding-right: 10px;'>Axel Mukwena</span>
          <span>axel.muk@gmail.com</span>
        </small>
        <small class='added-contact-item'>
          <i class="bi bi-x-square-fill btn remove-contact p-0 m-0"></i>
        </small>
      </div>
      <input type="text" value='5e417363316cab53182888da' name="contacts[]" hidden>
    </div>
  </div>

  <button onclick='submitNewClient(event)' type="button" class="btn btn-lg submit-add-client">Add Client</button>
  <button type="submit" id="submit-add-client" class="btn btn-lg submit-add-client" hidden></button>
</form>