#vanilla-toast-container {
  text-align: left;
  top: 0;
  right: 0;
  position: fixed;
  width: fit-content;
}

#vanilla-toast {
  margin: 56px 104px 0 0;
  border-radius: 5px;
  padding: 10px 15px;
  min-width: 250px;
  display: none;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.76);
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

#vanilla-toast-text {
  display: inline;
}

#vanilla-toast-close-button {
  display: none;
  margin-right: 10px;
  font-size: 15px;
  float: right;
}

#vanilla-toast.info {
  background: rgba(46, 154, 255, 0.76);
}

#vanilla-toast.warning {
    background: rgb(236 151 31);
}

#vanilla-toast.success {
    background: rgb(14 147 0);
}

#vanilla-toast.error {
    background: rgb(201 48 44);
}