<table class="table table-hover clients-table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Code</th>
    </tr>
  </thead>
  <tbody class='client-table-tbody'>
    <!-- Dynamically populated -->
  </tbody>
</table>
