<form id="new-contact-form">
  <div class="form-floating mb-3">
    <input type="text" name='firstname' class="form-control" id="contact-firstname-form" placeholder="Firstname">
    <label id="contact-firstname-form-label" for="contact-firstname-form">Firstname</label>
  </div>

  <div class="form-floating mb-3">
    <input type="text" name='surname' class="form-control" id="contact-surname-form" placeholder="Surname">
    <label id="contact-surname-form-label" for="contact-surname-form">Surname</label>
  </div>

  <div class="form-floating mb-3">
    <input type="email" name='email' class="form-control" id="contact-email-form" placeholder="Email address">
    <label id="contact-email-form-label" for="contact-email-form">Email address</label>
  </div>

  <div class="row g-3" style='margin-bottom: 13px;'>
    <div class="col">
      <select class="form-select select-clients" aria-label="Default select example">
        <!-- Dynamically populated -->
      </select>
    </div>
    <div class="col-auto">
      <button onclick='selectClient()' type="button" class="btn add-client">Add</button>
    </div>
  </div>

  <div class='added-clients'>
    <!-- Dynamically populated -->
  </div>

  <button onclick='submitNewContact()' type="button" class="btn btn-lg submit-add-contact">Add Contact</button>
</form>